<p id="notice"><%= notice %></p>
<%= image_tag @photo.file, class: "img-fluid mx-auto d-block m-4", style: "height: 100%", alt: "picture"%>

<h1 class="text-center-1"> <%= @photo.title %> </h1>

<h3 class="text-center-1"><%= @photo.description %></h3>