

<div class="row">



  <% @photos.each_with_index do |photo, index| %>
      <figure class="col-md-4 " style="width: 18rem">
          <a href="image_source" data-size="700x800">
          <div class="hovereffect">
            <%= image_tag photo.file, class: "img-fluid", style: "height: 100%", alt: "picture"%>
              <div class="overlay">
                
                <p>
                  <%= photo.title %>
                </p>
              </div> 
          </a>
        </figure>
  <% end %>

  <%# <div class="col-md-12">

    <div id="mdb-lightbox-ui"></div>

    <div class="mdb-lightbox  no-margin">

      <figure class="col-md-4 ">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
        <div class="hovereffect">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
            class="img-fluid">
            <div class="overlay">
              <h2>Effect 12</h2>
                <p>
                  <a href="#">LINK HERE</a>
                </p>
            </div> 
        </a>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(98).jpg" data-size="1600x1067">
        <div class="hovereffect">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg"
            class="img-fluid" />
            <div class="overlay">
              <h2>Effect 12</h2>
                <p>
                  <a href="#">LINK HERE</a>
                </p>
            </div> 
        </a>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(131).jpg" data-size="1600x1067">
        <div class="hovereffect">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg"
            class="img-fluid" />
            <div class="overlay">
              <h2>Effect 12</h2>
                <p>
                  <a href="#">LINK HERE</a>
                </p>
            </div> 
        </a>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg" data-size="1600x1067">
        <div class="hovereffect">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
            class="img-fluid" />
            <div class="overlay">
              <h2>Effect 12</h2>
                <p>
                  <a href="#">LINK HERE</a>
                </p>
            </div> 
        </a>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(118).jpg" data-size="1600x1067">
        <div class="hovereffect">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(118).jpg"
            class="img-fluid" />
            <div class="overlay">
              <h2>Effect 12</h2>
                <p>
                  <a href="#">LINK HERE</a>
                </p>
            </div> 
        </a>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg" data-size="1600x1067">
        <div class="hovereffect">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg"

            class="img-fluid" />
            <div class="overlay">
              <h2>Effect 12</h2>
                <p>
                  <a href="#">LINK HERE</a>
                </p>
            </div> 
            </div> 
        </a>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg" data-size="1600x1067">
        <div class="hovereffect">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg"
            class="img-fluid" />
            <div class="overlay">
              <h2>Effect 12</h2>
                <p>
                  <a href="#">LINK HERE</a>
                </p>
            </div> 
        </div>   
         </div> 
        </a>
        
      </figure>
     
     
      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg" data-size="1600x1067">
        <div class="hovereffect">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg"

            class="img-fluid" />
            <div class="overlay">
              <h2>Effect 12</h2>
                <p>
                  <a href="#">LINK HERE</a>
                </p>
            </div> 
            </div> 
        </a>
      </figure>

      <figure class="col-md-4">
        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg" data-size="1600x1067">
        <div class="hovereffect">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg"
            class="img-fluid" />
            <div class="overlay">
              <h2>Effect 12</h2>
                <p>
                  <a href="#">LINK HERE</a>
                </p>
            </div> 
        </div>   
         </div> 
        </a>
        
      </figure> %>




    </div>
  </div>
 </div>
</div>